# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Environments
.env
.venv/
venv/
ENV/
env/
*.env

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Django
*.sqlite3
db.sqlite3
local_settings.py


# Git
.git/
